@import "Scss/variables.scss";

.record {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &--1 {
    color: #fff;
    // opacity: 1;
    .record__bkdg {
      transform: translateX(0);
    }

    &:before {
      content: '';
      animation-iteration-count: 1;
      // animation: GradientOut 1.1s ease forwards;
      // background: red;
      background: linear-gradient(to left bottom, rgba($album-1-bkgd, 1) 70%, rgba( $album-1-bkgd, 0) 0%);
      background-size: 400% 400%;
      background-position: 0 0;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
    }

    .record__bkdg {
      background-image: url(/static/images/cover_1.jpg);
      background-size: auto 100%;
      //opacity: 1;
      // background-size: 55%; //auto 100%;
    }
  }

  &--2 {
    .record__bkdg { background-image: url(/static/images/cover_2.jpg) }
  }

  &--3 {
    .record__bkdg {
      transform: translateX(5%);
    }

    .record__bkdg {
      background-position: top right;
      background-image: url(/static/images/cover_3.jpg);
    }
  }

  &--active {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    .record__bkdg {
      transform: translateX(0);
      transition: transform 0.5s ease-out;
    }
  }

  &--1.record--active:before {
    // animation-delay: 10ms;
    animation-iteration-count: 1;
    animation: GradientIn 1s ease forwards;
    // background-position: 0 100%
  }
}


@keyframes GradientIn {
  0% { background-position: 0 0 }
  100% { background-position: 0 100% }
}

@keyframes GradientOut {
  0% { background-position: 0 100% }
  100% { background-position: 0 0 }
}

.record__content {
  height: 100%;
  left: 0;
  padding: 5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.record__box {
  // background: url(./bg-box.png);
  background: rgba( #fff, .1);
  margin-bottom: 10px;
  padding: 10px;
  max-width: 400px;

  h2 {
    color: #EF4135
  }
}


.record__bkdg {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 60%; //auto 100%;
  height: 100%;
  opacity: .6;
  width: 100%;
  transform: translateX(-5%);
}
