@import "Scss/variables.scss";

.release__cover--ep {
  background: $release-bkgd-ep;
  height: 100%;
  width: 100%;
}

.release__cover--ep__inner {
  background: url(/static/releases/ep/bkgd.jpg) bottom right no-repeat;
  background-repeat: no-repeat;
  background-size: auto 80%;
  height: 100%;
  width: 100%;
}
