@import "Scss/variables.scss";

//== Video Modal
//
//##

$bezize: cubic-bezier(0.785, 0.135, 0.15, 0.86);

.videos {
  align-items: center;
  background-color: $black;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  // opacity: 0;
  overflow-y: scroll;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  // transform: translateY(100%);
  // transition: opacity 250ms $bezize;
  z-index: $zindex-higher;

  // &--closing {
  //   transition: opacity .5s $bezize, transform .5s $bezize;
  // }

  &--active {
    pointer-events: auto;
    // animation-delay: 10ms;
    // animation-iteration-count: 1;
    // animation: GradientIn 1s ease forwards;
    // transform: translateY(0);
    // opacity: 1;
    // transition: opacity .5s $bezize, transform .5s $bezize;

    .videos__close {
      opacity: 1;
      transition: opacity 200ms linear 500ms;

      &:after {
        transform: rotate(135deg);
        transition: transform 600ms ease 500ms;
      }

      &:before {
        transform: rotate(45deg);
        transition: transform 300ms ease 500ms;
      }
    }

    .videos__content {
      // opacity: 1;
      // transform: translateY(0);
    }
  }

  &--ready {
    .videos__spinner {
      display: none
    }
    .videos__thumb {
      pointer-events: auto;

      &:before {
        opacity: 1;
      }
    }

    .videos__player {
      opacity: 1
    }
  }
}

// @keyframes GradientIn {
//   0% { background-position: 0 0 }
//   100% { background-position: 0 100% }
// }

// @keyframes GradientOut {
//   0% { background-position: 0 100% }
//   100% { background-position: 0 0 }
// }

.videos__close {
  position: absolute;
  top: 20px;
  right: 37px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: opacity 200ms linear;

  &:after,
  &:before {
    background: #fff;
    border-radius: 2px;
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: rotate(0);
    transition: transform 1s ease;
  }

  &:after { transition: transform 300ms ease; }
  &:before { transition: transform 200ms ease; }
}

.videos__content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // opacity: 0;
  height: 480px;
  width: 854px;
  // transform: translateY(10%);
  // transition: transform 250ms linear, opacity 250ms linear;
  z-index: 10;
  position: relative;
}

.videos__legend {
  color: #fff;
  h3 {
    font-size: 14px;
    margin-top: 10px;
  }
  h4 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px
  }
}

.videos__thumb {
  cursor: pointer;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;

  &:before {
    background-color: rgba( $album-1-bkgd, .4);
    background-image: url(./icon-play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border-radius: 42px;
    border: 2px solid rgba( #fff, .8);
    content: '';
    display: block;
    height: 84px;
    left: 50%;
    opacity: 0;
    margin-left: -42px;
    margin-top: -42px;
    position: absolute;
    top: 50%;
    transition: all .2s linear;
    width: 84px;
    z-index: 100;
    cursor: pointer;
  }
}

.videos__body {
  flex: 1;
}

// source: https://loading.io/css/
.videos__spinner {
  display: inline-block;
  position: absolute;
  width: 84px;
  height: 84px;
  top: 50%;
  left: 50%;
  margin-left: -42px;
  margin-top: -42px;
  z-index: 110;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 84px;
    height: 84px;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 42px;
    animation: videoSpinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes videoSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.videos__player {
  opacity: 0
}
