@import "Scss/variables.scss";

.releases-nav {
  width: 200px;
  height: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: $zindex-higher + 100;
}
.releases-nav > div {
  background: $album-2-bkgd;
  padding: 1px 3px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.releases {
  overflow: hidden;
  // bottom: 0;
  // left: 0;
  // position: fixed;
  // right: 0;
  // top: 0;
  // pointer-events: none;
  // z-index: 100;

  &__debug,
  &__nav {
    position: absolute;
    z-index: 1000;
  }

  &__nav {
    left: 0;
    top: 0;
    opacity: 0;
  }

  &__debug {
    background: #fafafa;
    color: #000;
    bottom: 10px;
    right: 10px;
  }

  &--active {
    pointer-events: auto;

    .releases__nav {
      opacity: 1
    }
  }
}

.release {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  &--current,
  &--previous {}

  &--current { z-index: 100 }
  &--previous { z-index: 50 }
}


.releases__cover {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  &--current,
  &--previous {
    opacity: 1
  }

  &--current { z-index: 100 }
  &--previous { z-index: 50 }
}

@include respond-below( sm ) {
  .releases__cover {
    transition: opacity .6s linear;

    &--previous {
      opacity: 0
    }
  }
}

.release__scroll-invite {
  background: rgba(#000, .5);
  border-radius: 6px;
  bottom: 0;
  height: 98px;
  left: 0;
  margin: auto;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms ease-in;
  width: 76px;
  z-index: 2000;

  &--show {
    opacity: 1
  }
}

.release__scroll-invite__mouse {
  border-radius: 25px;
  border: 2px solid #fff;
  height: 100%;
  opacity: .9;
  padding: 10px 15px;
  width: 100%;
}

.release__scroll-invite__scroller {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: animScroll;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  background-color: #fff;
  border-radius: 25%;
  height: 10px;
  width: 3px;
}

@keyframes animScroll {
  100% { opacity: 0; }
  90% { transform: translateY(0); opacity: 1; }
  0% { transform: translateY(10px); opacity: 0;}
}
