@import "Scss/variables.scss";

.releases__cover--split {
  z-index: 0;
}

.releases__cover--split--in {
  z-index: 100;

  .releases__cover--split__bkgd,
  .releases__cover--split__cover,
  .releases__cover--split__face { right: 0 }
  .releases__cover--split__bkgd,
  .releases__cover--split__cover { transition: right .6s cubic-bezier(0.785, 0.135, 0.15, 0.86), background .6s cubic-bezier(0.785, 0.135, 0.15, 0.86) }
  .releases__cover--split__face { transition: right .6s cubic-bezier(0.785, 0.135, 0.15, 0.86) .6s, background .6s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity .6s cubic-bezier(0.785, 0.135, 0.15, 0.86)  }
}

.releases__cover--split--out {
  .releases__cover--split__face {
    opacity: 0;
  }
  .releases__cover--split__cover {
    opacity: 0;
  }
  .releases__cover--split__bkgd {
    right: 0;
    left: 100%;
  }
  .releases__cover--split__cover { transition: opacity .8s cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s }
  .releases__cover--split__bkgd { transition: left .8s cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s, background .3s cubic-bezier(0.785, 0.135, 0.15, 0.86) }
  .releases__cover--split__face { transition: opacity .6s cubic-bezier(0.785, 0.135, 0.15, 0.86) }
}

.releases__cover--split__container {
  height: 100%;
  position: relative;
}

.releases__cover--split__bkgd,
.releases__cover--split__cover,
.releases__cover--split__face {
  height: 100%;
  left: 0;
  position: absolute;
  right: 100%;
  top: 0;
  opacity: 1;
  background-size: auto 100%;
  pointer-events: none;
}

.releases__cover--split__bkgd {
  background-image: url(bkgd_0.jpg);
  background-repeat: repeat-x;
  z-index: 80;
}
.releases__cover--split__cover {
  background-image: url(bkgd_1.jpg), linear-gradient(90deg, #fcfdf8 500px, transparent 0%);
  background-repeat: no-repeat, repeat-x;
  z-index: 90;
}

.releases__cover--split__face {
  background-image: url(bkgd_2.png);
  background-repeat: no-repeat;
  z-index: 110;
}

// @include respond-below( sm ) {
//   .releases__cover--split__container {
//     background: $album-2-bkgd url(bkgd_2.jpg) center no-repeat;
//     background-size: cover;
//   }
//   .releases__cover--split__cover,
//   .releases__cover--split__face {
//     display: none
//   }
// }

.releases__story--split {
  position: absolute;
  top: 0;
  right: -1rem;
  // left: 0;
  width: calc(100% + 1rem);
  height: 100%;
  z-index: 100;
  transition: opacity .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  .releases__story__container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
    // direction: rtl;
  }
  .releases__story__content {
  // background: green;
    // background: #fcfdf8;
    color: black;
    // direction: ltr;
    // padding-right: -2rem;
    width: 680px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: padding .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.split__img {
  display: inline-block;
  border-width: 15px;
  border-image: url(frame_split.png) 15 stretch;
  border-style: solid;
  margin: auto;
}
