@import "Scss/variables.scss";

$finalHeight: 1680px; //100vh;
$finalWidth: 2 * $finalHeight;
$scrollBarHeight: 1px;

.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
// .app__slide {
//   height: 100%;
// }
// .app__slide {
//   height: 100%;
// }

// .app {
//   position: absolute;
//   display: block;
//   top: 0;
//   right: 0;
//   // width: calc(#{$finalHeight} + #{$scrollBarHeight});
//   // max-height: $finalWidth;
//   margin: 0;
//   // padding-top: $scrollBarHeight;
//   // padding: $finalHeight 0 0 0;
//   // background: #333;

//   overflow: hidden;
//   // overflow-y: auto;
//   // overflow-x: hidden;

//   // transform: rotate(90deg) translateY(-$finalHeight);
//   transform-origin: left top;
// }

// .app__slide {
//   // opacity: 0;
//   display: block;
//   // background:url(https://placeimg.com/1000/600/nature) 0 0 /cover no-repeat;
//   transform: rotate(-90deg);
//   transform-origin: left top;

//   // width: $finalHeight;
//   // height: $finalHeight;
// }

//  .app__slide--album {

//   &--1 {
//     background-color: #040301;

//     .app__slide__cover {
//       background-image: url(/static/images/cover_1.jpg);
//       background-size: 55%; //auto 100%;
//     }
//   }

//   &--2 {
//     background-color: #812125;

//     .app__slide__cover { background-image: url(/static/images/cover_2.jpg) }
//   }

//   &--3 {
//     background-color: #DD472E;

//     .app__slide__cover { background-image: url(/static/images/cover_3.jpg) }
//   }
// }

// .app__slide__cover {
//   background-position: top left;
//   background-repeat: no-repeat;
//   background-size: 60%; //auto 100%;
//   height: 100%;
//   width: 100%;
// }

// .app__slide__video {
//   // width: 160px;
//   // height: 94px;
//   display: block;
//   margin-bottom: 20px
// }

// iframe .ytp-hide-controls .ytp-watermark { display: none }

// $ease: cubic-bezier(0, 0.79, 0.38, 0.96);

// .bkgd {
//   background: linear-gradient(to right, rgba( #812125, 0) 0%,  rgba( red, 0) 100%);
//   // background-size: 400% 400%;
//   // animation: AnimationName 2s ease forwards;
//   height: 100%;
//   left: 0;
//   pointer-events: none;
//   position: fixed;
//   top: 0;
//   // transition: background 0.5s ease-out;
//   width: 100%;
//   z-index: 100;
//   animation: AnimationBkgd0 .3s ease-out forwards;

//   &--1 {
//     animation: AnimationBkgd1 .4s $ease forwards;
//   }
// }

// @keyframes AnimationBkgd0 {
//   100% { background: linear-gradient(to right, rgba( #812125, 0) 0%,  rgba( red, 0) 100%) }
//   80%  { background: linear-gradient(to right, rgba( #812125, .3) 0%,  rgba( red, 0) 100%) }
//   60%  { background: linear-gradient(to right, rgba( #812125, .6) 0%,  rgba( red, 0) 100%) }
//   50%  { background: linear-gradient(to right, rgba( #812125, .9) 0%,  rgba( red, 0) 100%) }
//   40%  { background: linear-gradient(to right, rgba( #812125, 1) 10%,  rgba( red, 0) 100%) }
//   30%  { background: linear-gradient(to right, rgba( #812125, 1) 30%,  rgba( red, 0) 100%) }
//   20%  { background: linear-gradient(to right, rgba( #812125, 1) 60%,  rgba( red, 0) 100%) }
//   10%  { background: linear-gradient(to right, rgba( #812125, 1) 80%,  rgba( red, 0) 100%) }
//   0%   { background: linear-gradient(to right, rgba( #812125, 1) 100%,  rgba( red, 0) 100%) }
// }

// @keyframes AnimationBkgd1 {
//   0%   { background: linear-gradient(to right, rgba( #812125, 0) 0%,  rgba( red, 0) 100%) }
//   10%  { background: linear-gradient(to right, rgba( #812125, .3) 0%,  rgba( red, 0) 100%) }
//   20%  { background: linear-gradient(to right, rgba( #812125, .6) 0%,  rgba( red, 0) 100%) }
//   30%  { background: linear-gradient(to right, rgba( #812125, .9) 0%,  rgba( red, 0) 100%) }
//   40%  { background: linear-gradient(to right, rgba( #812125, 1) 10%,  rgba( red, 0) 100%) }
//   50%  { background: linear-gradient(to right, rgba( #812125, 1) 30%,  rgba( red, 0) 100%) }
//   60%  { background: linear-gradient(to right, rgba( #812125, 1) 60%,  rgba( red, 0) 100%) }
//   80%  { background: linear-gradient(to right, rgba( #812125, 1) 80%,  rgba( red, 0) 100%) }
//   100% { background: linear-gradient(to right, rgba( #812125, 1) 100%,  rgba( red, 0) 100%) }
// }


.views {
  background: rgba( white, 0);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: background 0.5s ease-out;
  width: 100%;
  z-index: 100;

  &--1,
  &--2,
  &--3 { pointer-events: auto }

  &--1 {
    background: rgba( #040301, 1);
    .view--1 { opacity: 1 }
  }

  &--2 {
    background: rgba( #812125, 1);
    .view--2 { opacity: 1 }
  }

  &--3 {
    background: rgba( #DD472E, 1);
    .view--3 { opacity: 1 }
  }
}

.view,
.view__content,
.view__bkgd {
  color: #fff;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.view {
  opacity: 0;
  transition: opacity 0.7s ease-out, transform 0.2s ease-out;
  transform: translateX(-30%);

  &--1 {
    transform: translateX(0);
    transition: transform 0.2s ease-out 1s;
    .view__bkgd {
      background-image: url(/static/images/cover_1.jpg);
      background-size: 55%; //auto 100%;
    }
  }

  &--2 {
    transform: translateX(0);
    transition: transform 0.2s ease-out 1s;
    .view__bkgd {
      background-image: url(/static/images/cover_2.jpg);
    }
  }

  &--3 {
    .view__bkgd {
      background-image: url(/static/images/cover_3.jpg);
      transform: translateX(0);
      transition: transform 0.2s ease-out 1s;
    }
  }
}

.view__content {
  z-index: 200
}

.view__bkgd {
  background-position: top left;
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 60%; //auto 100%;
  opacity: .3;
  width: 100%;
  z-index: 100;
}

.navigation {
  bottom: 10px;
  left: 10px;
  position: fixed;
  z-index: 100;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
}

.navigation__link {
  margin: 0 5px;
}
