@import "Scss/variables.scss";


@include respond-above( lg ) {

  .page__img--tours {
    margin-left: 4rem;
  }

  .page__text__content--album2 {
    margin-right: 2rem
  }

  .page__text__content--furia {
    // top: 10%;
    // right: -10%;
    // margin-right: -2rem
  }

  .page__img--furia1 {
    margin-top: 3rem
  }

  .page__img--furia2 {
    margin-right: 3rem
  }

  .page__row--loko {
    height: 400px;

    .page__video {
      top: -50px;
      left: 10px
    }
  }
}
