@import "Scss/variables.scss";

.album__record {
  border-right: 2vh solid $red;
  position: absolute;
  // left: 80vw;
  // background: green;
  bottom: 0;
  transform: rotate(-45deg);
  transform-origin: bottom center;
  // padding-left: 24.1vw;
  height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  // padding-top: 20vh;
}
.album__record__stripes {
  flex: 0 100vh;
  flex: 0 40%;
  display: flex;
  flex-direction: column;
  // margin-top: 20vh;
  div {
    height: 100%;

    & + div {
      margin-top: 2vh;
    }
  }

  div:nth-child(4) {
    background: $white;
    flex: 1;
  }
  div:nth-child(2),
  div:nth-child(3) {
    background: $white;
    flex: 0 8vh;
  }

  div:nth-child(1) {
    background: $red;
    flex: 0 4vh;
  }
}

.album__record__texts {
  // background: green;
  flex: 0 100vh;
  flex: 0 60%;
  padding-left: 2vh;
  padding-right: 2vh
  // transform: rotate(-10deg);
  // transform-origin: top left;
}

.album__record__row {
  clear: both;

  & + & {
    padding-top: 4vh;

    // .album__photo {
    //   transform: rotate(90deg);
    //   transform-origin: 35% 60%;
    // }
  }
}
