@import "Scss/variables.scss";


.releases__cover--split {
  height: 100%;
  position: relative;
  width: 100%
}

.release__cover--split__bkgd,
.release__cover--split__cover,
.release__cover--split__face {
  height: 100%;
  left: 0;
  position: absolute;
  right: 100%;
  top: 0;
  opacity: 1;
  background-size: auto 100%;
  pointer-events: none;
}

.release__cover--split__bkgd {
  background-image: url(bkgd_0.jpg);
  background-repeat: repeat-x;
  z-index: 80;
}
.release__cover--split__cover {
  background-image: url(bkgd_1.jpg), linear-gradient(90deg, #fcfdf8 500px, transparent 0%);
  background-repeat: no-repeat, repeat-x;
  z-index: 90;
}

.release__cover--split__face {
  background-image: url(bkgd_2.png);
  background-repeat: no-repeat;
  z-index: 110;
}
