@import "Scss/variables.scss";

.album__labels {
  text-align: center;
  padding: 1rem 0 0
}

.img__label {
  height: 50px;
  // margin-right: .5rem
  margin-right: 1rem
}

@include respond-above( lg ) {

  .page__img--album-loko {
    margin-left: 4rem;
    margin-top: -3rem
  }

  .page__text {
    &--album1 .page__text__content {
      left: -3rem;
      margin-top: 14rem
    }

    &.page__text--album-loko {
      margin-left: -2rem;
      margin-top: -6rem;
      max-width: 330px;
    }

    &.page__text--album-labels {
      margin-left: 3rem;
      margin-top: 4rem;
      max-width: 400px
    }

    &.page__text--ablum-jp {
      margin-right: -2rem;
      margin-top: 2rem;
      max-width: 230px;
      text-align: right
    }

    &.page__text--album-tour1 {
      margin-left: 4rem;
      margin-right: -4rem;
      margin-top: -2rem;
    }
  }

  .album__labels {
    text-align: right;
  }

  .page__img--album-jp {
    top: 2rem;
  }

  .page__row--album-tours {
    margin-top: -16rem
  }

  .page__img--album-tours {
    left: -1.5rem;
    top: 14rem
  }

  .page__video--album-tour-1 {
    margin-top: -3rem
  }

  .page__img--album-tour-2 {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .page__text--album-tour2 {
    margin-top: 2rem
  }

}
