@import "Scss/variables.scss";

.page__box--album1 {
  top: -15%;
  left: 45%
}

.page__image--album1 {

}
.page__image--album2 {
  top: 6.5%;
  left: 1%;
  transform: scale(.6)
}
.page__image--album3 {
  top: 10%;
  left: -13%;
  transform: scale(.6)
}
.page__image--album4 {
  top: 1%;
  left: -27%;
  transform: scale(.6)
}

.page__box.page__box--album2 {
  top: 10%;
  left: 30%;
  position: absolute;
  width: 30%
}

.page__image--album6 {
  left: 45%;
  top: 0%;
}
