  //== Colors
  //

$black: #040203;
$red: #e1011c;
$white: #fff; //#f6f3ea;

$color-base: $white;
$color-active: $red;
$color-bkgd: $black;


* {
  box-sizing: border-box;
  // line-height: 27px;
  // margin-top: 0;
  // margin-bottom: 27px; // = 1 × 27px
}

body {
  margin: 0;
  overflow: hidden;
}

html {
  // font-size: 14px;
  font-family: Helvetica, sans-serif;
  font-kerning: normal;
// font-family: 'Open Sans';
  font-size: 100%;
  color: $color-base;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // background: $color-bkgd;
  height: 100%;
}


/* --------------------------------------------------------*/


p {
  font-size: 1em; /* 14px */
  line-height: 1.4286em; /* 20px */
  // margin: 0 0 1.4286em 0;
}

h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
  // text-transform: uppercase;
  // line-height: 1.2;
}

a {
  color: $color-base;
  text-decoration: none;
  &:hover {
    color: $color-active;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    padding: 0;
  }
}

:focus {
  outline: none;
}

#app-root {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 375px;
  user-select: none;
  position: relative;
  // transform: translateZ(0);
}


.home {
  align-items: center;
  background: rgba($color-bkgd, .3);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10;
}

.home__wrapper {
  margin: auto;
  max-width: 680px;
  width: 100%;
}


.home__quote {
  text-transform: uppercase;
  line-height: 1em;
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 30px;

  &--start {
    text-align: right;
    width: 50%;
  }

  &--end {
    text-align: left;
    margin-left: 51%;
    position: relative;

    br {
      display: none
    }

    &__hr {
      background: $color-base;
      display: block;
      height: 7px;
      position: absolute;
      left: 0;
      top: calc(100% + 8px);
    }
  }
}

.home__quote--end__text {
  overflow: hidden;
  display: block;
  height: 30px;
  width: 100%;

  span {
    display: block;
  }
}

.home__abstract {
  text-align: left;
  padding: 0 0 16px;
  margin-left: 160px; //24%;
  margin-top: 40px;
  width: 430px;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.home__abstract__txt {
  font-size: 12px;
  line-height: 16px;
}

.home__abstract__hr {
  background: none;
  border: none;
  border-bottom: 8px solid $color-active;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

@function size-ratio($base, $ratio){
  @return calc(#{$base} * #{$ratio}); //$base * $ratio
}

$title-primary-size: 40px;
$title-primary-line-height: 34px;
$title-sub-margin: 3px; //2px;
$title-sub-size: 12px;
$title-sub-line-height: 15px;
$title-sub-letter-spacing: 2.05px;
$title-ratio: 1.4;

.home__title {
  overflow: hidden;
  padding-right: 50%;
  text-transform: uppercase;
  writing-mode: tb;
  margin: 5px 0;
  width: 100%;
  white-space: pre;

  &__primary {
    color: $color-active;
    font-size: size-ratio($title-primary-size, $title-ratio);
    line-height: size-ratio($title-primary-line-height, $title-ratio);
    font-weight: 800;
  }

  &__sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: size-ratio($title-sub-size, $title-ratio);
    line-height: size-ratio($title-sub-line-height, $title-ratio);
    letter-spacing: size-ratio($title-sub-letter-spacing, $title-ratio);
    margin-top: size-ratio($title-sub-margin, $title-ratio);
    overflow: hidden;

    span {
      display: block;
    }
  }
}

.home__nav {
  margin-top: 20px;
  flex-direction: row-reverse;
  display: flex;
  width: 430px;

  &--releases {
    margin-left: 312px;

    .home__nav__thumb {
      transform: rotate(90deg);
      width: 130px;
    }
  }

  &--videos {
    margin-left: 82px;

    .home__nav__thumb {
      border: 1px solid $color-base;
      width: 210px;
    }
  }
}

.home__nav__item {
  display: inline-block;

  &:not(:first-child) {
    margin-right: 20px;
  }
}

$finalHeight: 542px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

.horizontal-scroll-wrapper {
  background: #abc;
  display: block;
  left: 0;
  margin: 0;
  max-height: $finalWidth;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: $scrollBarHeight;
  position: absolute;
  top: 0;
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-$finalHeight);
  width: calc(#{$finalHeight} + #{$scrollBarHeight});
  // z-index: 1000;
  & > div {
    display: block;
    padding: 5px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.squares {
  padding: $finalHeight 0 0 0;
  & > div {
    width: $finalHeight;
    height: $finalHeight;
    margin: 1px 0;
  }
}
