@import "Scss/variables.scss";


.page__img {
  order: 1;
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    display: block;
    padding-bottom: 66.6%
  }

  &--transparent {
    background: none;

    // .page__image.page__image__small {
    //   filter: none;
    //   object-fit: initial;
    // }
  }

  &--small {
    // width: 270px;
    // height: 400px
    // width: 300px;
    // max-width: 100%;
    // height: 200px
  }

  &--portrait {
    // width: 270px;
    // height: 400px
    width: 400px;
    max-width: 100%;
    height: 600px
  }

  &--video {
    cursor: pointer;

    &:before {
      background-color: rgba( $album-1-bkgd, .4);
      background-image: url(./icon-play.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
      border-radius: 42px;
      border: 2px solid rgba( #fff, .8);
      content: '';
      display: block;
      height: 84px;
      left: 50%;
      margin-left: -42px;
      margin-top: -42px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transition: all .2s linear;
      width: 84px;
      z-index: 100;
    }

    &:hover:before {
      background-color: rgba( $album-1-bkgd, .8);
      background-size: 50%;
      border-color: rgba( $album-1-bkgd, .4);
    }
  }
}

.page__image {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
  z-index: 0;

  &.page__image__loaded { opacity: 1 }

  &.page__image__medium {
    z-index: 10;

    // for test
    // &.page__image__loaded { opacity: 0 }

    &.page__image__loaded + .page__image__small { display: none }
  }

  &.page__image__small {
    filter: blur(50px);
    object-fit: initial;
   // this is needed so Safari keeps sharp edges
    transform: scale(1);
  }
}

.page__img__legend {
  background: rgba( #f6f6f6, .8);
  color: $album-1-bkgd;
  bottom: 0;
  font-size: $font-size-base;
  font-weight: 600;
  line-height: $font-size-extra;
  padding: 0 .5rem;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: $zindex-legend;
}

@include respond-below( sm ) {

  .page__img--portrait {
    height: 442px
  }
}

@include respond-above( lg ) {

  .page__img {
    order: unset;
    // background-color: #f00;
    display: inline-block;
    width: 600px;
    height: 400px;
    margin: 0;
    max-height: 400px;
    max-width: 600px;
    overflow: hidden;

    &:after { display: none }

    & + .page__img { margin-left: 1rem }

    &--portrait {
      width: 400px;
      height: 600px;
      max-height: 600px;
      max-width: 400px;
    }

    &--small {
      width: 300px;
      height: 200px;
      max-height: 200px;
      max-width: 300px;
    }

    &--portrait-small {
      width: 300px;
      height: 450px;
      // max-height: 600px;
      // max-width: 400px;
    }

    .page__img__legend {
      color: transparent;
      opacity: .3;
      transition: all 250ms linear
    }

    &:hover .page__img__legend {
      color: black;
      opacity: 1
    }
  }
}


// .page__image {
//   // background-color: #f6f6f6;
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   position: relative;
//   // overflow: hidden;
//   // display: block;
//   // height: 440px;
//   // width: 100%;
//   // width: 600px;
//   // height: 400px;


//   max-width: $screen-xl;
//   margin: auto;
//   width: calc( 100% - 40px);
//   // max-height: 300px;
//   height: 100%;

//   &--portrait {
//     height: 600px;
//     width: 400px;
//   }

//   &--flyer {
//     height: 400px;
//     width: 300px;
//   }

//   &--video {
//     cursor: pointer;

//     &:before {
//       background-color: rgba( $album-1-bkgd, .4);
//       background-image: url(./icon-play.svg);
//       background-position: center;
//       background-repeat: no-repeat;
//       background-size: 40%;
//       border-radius: 42px;
//       border: 2px solid rgba( #fff, .8);
//       content: '';
//       display: block;
//       height: 84px;
//       left: 50%;
//       margin-left: -42px;
//       margin-top: -42px;
//       pointer-events: none;
//       position: absolute;
//       top: 50%;
//       transition: all .2s linear;
//       width: 84px;
//       z-index: 10;
//     }

//     &:hover:before {
//       background-color: rgba( $album-1-bkgd, .8);
//       background-size: 50%;
//       border-color: rgba( $album-1-bkgd, .4);
//     }
//   }
// }

// .page__image img {
//   left: 0;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   transition: opacity .5s linear;
//   height: 100%;
//   // width: 100%;
//   // max-width: 600px;
//   // max-height: 400px;
//   // width: auto;
//   // height: auto;

//   &.page__image__loaded { opacity: 1 }
// }

// .page__image__small {
//   // filter: blur(50px);
//   object-fit: initial;
//   // transform: scale(1); // this is needed so Safari keeps sharp edges
// }

// @include respond-above( md ) {
//   .page__image {
//     display: inline-block;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     max-height: 400px;
//     max-width: 600px;
//     overflow: hidden;
//     // width: 600px;
//     // height: 400px;

//     &--portrait {
//       // height: 400px;
//       // width: 300px
//       max-height: 600px;
//       max-width: 400px;
//     }

//     &--flyer {
//       // height: 400px;
//       // width: 300px
//       max-height: 400px;
//       max-width: 300px;
//     }
//   }

//   .page__image__small {
//     object-fit: scale-down;
//   }
// }
