@import "Scss/variables.scss";

.release--ep {
  // opacity: .1;
  // pointer-events: none;
}

.release__story--ep {
  background: url(/static/images/releases/ep/bkgd.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 100;
}
