@import "Scss/variables.scss";

.site {
  height: 100%;
  // height: 200px;
  overflow: auto;
  // overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  &--scroll { overflow-y: auto }
}

.site__view { height: 100% }

.site__debug {
  background: red;
  top: 0;
  position: fixed;
  right: 0;
  z-index: $zindex-higher;
  list-style: none
}
