@import 'Scss/variables.scss';

.home:not(.home--small),
.home-bkgd {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.home-bkgd {
  background: rgba($color-bkgd, 0.3);
  z-index: $zindex-home-bkgd;
}

.home {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home:not(.home--small) {
  overflow: hidden;
  z-index: $zindex-home-hero;
  will-change: transform;
}

.home__wrapper {
  margin: auto;
}

//
// Elements
// --------------------------------------------------

.home__quote {
  font-weight: $font-weight-heavy;
  text-transform: uppercase;
  letter-spacing: -1.2px;

  &--start {
    text-align: right;
    padding-right: 5px;
  }

  &--end {
    position: relative;
    text-align: left;

    br {
      display: none;
    }

    &__hr {
      background: $color-base;
      display: block;
      height: 8px;
    }
  }
}

.home__quote--end__text {
  overflow: hidden;
  display: block;
  height: 30px;
  width: 100%;

  span {
    display: block;
  }
}

.home__abstract__drawer {
  overflow: hidden;
}

.home__abstract__hr {
  background: none;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: $color-active;
  margin: 0;
  padding: 0;
}

.home__title {
  overflow: hidden;
  text-transform: uppercase;
  writing-mode: tb;
  margin: 5px 0;
  width: 100%;
  white-space: pre;

  &__primary {
    color: $color-active;
    font-weight: $font-weight-bold;
  }

  &__sub {
    font-weight: 400;
    letter-spacing: 0.15rem;
    overflow: hidden;

    span {
      display: block;
    }
  }
}

.home__nav__thumb--videos {
  border: 1px solid rgba($color-base, 0.5);
}
