@import "Scss/variables.scss";

.header__ep {
  background: $album-3-bkgd;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.header__ep--in  {
  z-index: 100;
  opacity: 1;
  .header__ep__cover {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-out .2s;
  }
}


.header__ep__cover {
  background: url(bkgd.jpg) bottom right no-repeat;
  background-repeat: no-repeat;
  background-size: auto 80%; //auto 100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateX(5%);
  // transition: transform 0.5s ease-out;
}

// @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
//         only screen and (min-device-pixel-ratio: 1.3),
//         only screen and (min-resolution: 120dpi) {
//   .header__ep {
//     background: $album-3-bkgd url(bkgd.jpg) center no-repeat;
//     background-size: cover;
//     opacity: 1 !important;
//     z-index: 100 !important;
//   }
//   .header__ep__cover {
//     display: none
//   }
// }
