@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');
@import "./variables.scss";
@import "./reset.css";

::-webkit-scrollbar {
  height: $scroll-bar-height;
  width: $scroll-bar-height;
}

::-webkit-scrollbar-button {
  height: $scroll-bar-height;
  width: $scroll-bar-height;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // background: $album-1-bkgd;
  font-family: $font-family-system;
  // font-size: $font-size-base;
  font-size: calc(12px + (16 - 14) * ((100vw - 375px) / (1280 - 375)));
  height: 100%;
  line-height: $baseline;
  // overflow-x: hidden;
  // overflow-y: auto;
  width: 100%;
}

#app-root {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 375px;
  // overflow: hidden;
  // overflow-x: hidden;
  // overflow-y: auto;
  user-select: none;
  position: relative;
  // transform: translateZ(0);
}
