@import './reset.scss';
@import './variables.scss';

body {
  margin: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

@include respond-below(md) {
  body {
    overflow: auto;
  }
}

html {
  // font-size: 14px;
  font-family: $font-family-system;
  font-kerning: normal;
  font-size: 100%;
  color: $color-base;
  font-weight: 400;
}

img {
  // max-width: 100%;
  display: block;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // background: $color-bkgd;
  height: 100%;
}

/* --------------------------------------------------------*/

p {
  font-size: 1em; /* 14px */
  line-height: 1.4286em; /* 20px */
  // margin: 0 0 1.4286em 0;
}

h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: $color-base;
  text-decoration: none;
  &:hover {
    color: $color-active;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    padding: 0;
  }
}

:focus {
  outline: none;
}

#app-root {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  user-select: none;
  position: relative;
}

.error-boundary {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;

  img {
    display: block;
    margin: 0 auto 1rem;
    width: 380px;
  }

  h1 {
    font-size: $font-size-extra;
    margin-bottom: 0.5rem;
  }

  a {
    color: $red;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

.layer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: $zindex-higher;

  &--active {
    pointer-events: auto;
  }
}

@include respond-below(md) {
  .layer {
    display: none;
  }
}

.mini-debug {
  background: #ccc;
  bottom: 10px;
  color: #000;
  font-size: 10px;
  left: 10px;
  pointer-events: none;
  position: fixed;
  z-index: $zindex-higher + $zindex-higher;
}

.root-loading {
  bottom: 0;
  height: 44px;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  z-index: $zindex-home-loader;
}
