@import 'Scss/variables.scss';

.figure {
  // position: relative;
  // overflow: hidden;

  &__img {
    opacity: 0;
    transition: opacity 250ms linear;

    &--loaded {
      opacity: 1;
    }

    &--medium {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // z-index: 10;
    }

    &--loaded.figure__img--medium + .figure__img--small {
      display: none;
    }
  }
}
