@import "Scss/variables.scss";

.releases__story--album {
  position: absolute;
  top: -1rem;
  // top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;

  // p {
    // mix-blend-mode: difference;
  // }
  // img {
    // isolation: isolate;
    // mix-blend-mode: multiply;
  // }

  .releases__story__content {
    position: relative;
    display: block;
    // padding: 10vh 0 10vh 10vw;
    // padding-top: 1600px;
    width: 100vh;
    height: 100vw;
    overflow: scroll;
    transform-origin: 100% 0%;
    transform: rotate(-90deg) translateY(-100vh);

    .slides {
      width: 100vw;
      // height: 100vh;
      height: calc(100vh - 2rem);
      // padding: 0 0 0 1600px;
      transform-origin: 0% 0%;
      // column-width: 1000px;
      column-gap: 0;
      transform: rotate(90deg) translateY(-100%);
    }
    .slide {
      // background: rgba(pink, .2);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 100%;
      // overflow: hidden;
      // display: inline-block; width: 100%;
      break-inside: avoid-column;
      word-wrap: break-word;
      hyphens: auto;
      pointer-events: none;

      // &:nth-of-type(odd) { background: rgba(pink, .3) }
      // &:nth-of-type(even) { background-color: rgba(green, .3) }

      & > div:first-of-type {
        width: 100%;
        position: relative;
      }
    }
  }

  .album__labels {
    text-align: right;
  }


  .img__label {
    height: 50px;
    // margin-right: .5rem
    margin-left: 1rem
  }

}

.releases__cover--album {
  // background-color: $black;
  z-index: 0;
}

.releases__cover--album__cover {
  // clip-path: polygon(0 100%, 0% 0%, 0% 0%);
  background: $black;
  height: 100%;
  position: relative;
  z-index: 11;
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
  overflow: hidden;
  // will-change: clip-path;
}

.releases__cover--album__bkgd {
  // display: none;
  position: absolute;
  z-index: 1000;
  height: 924px;
  // width: 2000px;
  width: 0;
  left: 0;
  top: 0;
  transform: rotate(-45deg) translateX(0);
  // transform-origin: 0% 100%;
  transform-origin: 400px 700px;
  overflow: hidden;
  will-change: transform;
  pointer-events: none;
}

.releases__cover--album__bkgd__letters,
.releases__cover--album__bkgd__strips {
  // background: green;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  &--odd {
    // background: purple;
    z-index: 2;
    transform: translateY(0);
  }
}

.releases__cover--album__bkgd__letters {
  transform: translate(0, 0);
  z-index: 10
}

.releases__cover--album__bkgd__strip {
  height: 40px;
  background: rgba($white, 1);
  position: absolute;
  left: 0;
  z-index: 1;

  $elements: 12;
  @for $i from 0 to $elements {
    &--#{$i + 1} {
      top: (84px * $i);

      @if $i >= 0 and $i < 5 {
        width: 520px
      }

      @if $i >= 5 and $i < 9 {
        width: 200px
      }

      @if $i >= 9 {
        width: 2500px
      }
    }
  }
  @for $i from 0 to $elements {
    &--odd--#{$i + 1} {
      background: $black;
      // display: none;
      top: (84px * $i) + 42px;
      z-index: 2;

      // @if $i >= 0 and $i < 5 {
      //   width: 520px
      // }

      // @if $i >= 5 and $i < 9 {
      //   width: 200px
      // }

      // @if $i >= 9 {
      //   width: 2500px
      // }
    }
  }
}

/*
  a___b      d___e
  |    \    /    |
  |     \  /     |
  |  m\  .c  /j  |
  |  | \    / |  |
  o__n  l__k  i__f
*/

$a: 0 0;

.releases__cover--album__bkgd__m {
  // clip-path: polygon(0 0, 92px 0, 162px 200px, 227px 0, 320px 0, 320px 100%, 258px 100%, 258px 90px, 185px 100%, 135px 100%, 62px 90px, 62px 100%, 0 100%);
  clip-path: polygon(0 0, 92px 0, 162px 0px, 227px 0, 320px 0, 320px 100%, 258px 100%, 258px 100%, 185px 100%, 135px 100%, 62px 100%, 62px 100%, 0 100%);
  // background: rgba($red, 1);
  background: $red;
  border-radius: 0;
  position: absolute;
  width: 320px;
  height: 292.5px;
  top: 420px;
  left: 200px;
  z-index: 10;
  transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 1;
  transform: scale(1);

  &--o {
    clip-path: polygon(0 0, 92px 0, 162px 200px, 227px 0, 320px 0, 320px 100%, 258px 100%, 258px 90px, 185px 100%, 135px 100%, 62px 90px, 62px 100%, 0 100%);
  }
  &--f {
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
  }
}

.releases__cover--album__bkgd__sixteen {
  text-transform: uppercase;
  writing-mode: tb;
  width: 50px;
  white-space: pre;
  height: 292.5px;
  position: absolute;
  left: 535px;
  top: 420px;
  z-index: 100;
  // background: rgba(green,.3);

  font-family: 'Open Sans';
  font-size: 55px;
  line-height: 55px;
  font-weight: 800;
  letter-spacing: 11px
}

.releases__cover--album--in {
  z-index: 100;
  .releases__cover--album__cover {
    animation: animPageAlbumIn .4s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

.releases__cover--album--back {
  .releases__cover--album__cover {
    clip-path: polygon( 0% -240%, 0% 100%, 164% 100%)
  }
}

.releases__cover--album--out {
  .releases__cover--album__cover {
    animation: animPageAlbumOut .4s forwards ease-out .1s
  }
}

// @include respond-below( sm ) {
//   .releases__cover--album {
//     background: url(bkgd.jpg) bottom left no-repeat;
//     background-size: auto 100%;

//     .releases__cover--album__cover { display: none }
//   }
// }

@keyframes animPageAlbumIn {
  0%   { clip-path: polygon( 0% 100%, 0% 100%, 0% 100%) }
  // 10%  { clip-path: polygon( 0% 66%, 0% 100%, 16.4% 100%) }
  20%  { clip-path: polygon( 0% 32%, 0% 100%, 32.8% 100%) }
  // 30%  { clip-path: polygon( 0% -2%, 0% 100%, 49.2% 100%) }
  40%  { clip-path: polygon( 0% -36%, 0% 100%, 65.6% 100%) }
  // 50%  { clip-path: polygon( 0% -70%, 0% 100%, 82% 100%) }
  60%  { clip-path: polygon( 0% -104%, 0% 100%, 98.4% 100%) }
  // 70%  { clip-path: polygon( 0% -138%, 0% 100%, 114.8% 100%) }
  80%  { clip-path: polygon( 0% -172%, 0% 100%, 131.2% 100%) }
  // 90%  { clip-path: polygon( 0% -206%, 0% 100%, 147.6% 100%) }
  99% { clip-path: polygon( 0% -240%, 0% 100%, 164% 100%) }
}

@keyframes animPageAlbumOut {
  0%   { clip-path: polygon( -80% 0%, 100% 240%, 100% 0%) }
  // 10%  { clip-path: polygon( -62% 0%, 100% 216%, 100% 0%) }
  20%  { clip-path: polygon( -44% 0%, 100% 192%, 100% 0%) }
  // 30%  { clip-path: polygon( -26% 0%, 100% 168%, 100% 0%) }
  40%  { clip-path: polygon( -8% 0%, 100% 144%, 100% 0%) }
  // 50%  { clip-path: polygon( 10% 0%, 100% 120%, 100% 0%) }
  60%  { clip-path: polygon( 28% 0%, 100% 96%, 100% 0%) }
  // 70%  { clip-path: polygon( 46% 0%, 100% 72%, 100% 0%) }
  80%  { clip-path: polygon( 64% 0%, 100% 48%, 100% 0%) }
  // 90%  { clip-path: polygon( 82% 0%, 100% 24%, 100% 0%) }
  100% { clip-path: polygon( 100% 0%, 100% 0%, 100% 0% ) }
}

.page__text {
  p {
  }
}



.album__title_1 {
  color: $red;
  font-size: calc(2rem + 2vw);
  margin-top: -30px;

  small {
    color: $white;
    font-size: 2.5rem;
    margin-left: -3px
  }
}

.album__title_2 {
  color: $red;
  writing-mode: vertical-lr;
  // transform: rotate(180deg);
  right: 5px;
  // top: 2px;
  font-size: 2rem;
  position: relative;
      // transform-origin: 0% 0%;
}

.album__paragraph {
  // line-height: 1.25;
  & + & {
    margin-top: 10px
  }
  &--intro {
    margin-top: 20px;
    padding-right: 10%;
  }
  &--labels {
    margin: 10% 0 20px;
    font-size: 14px
  }
}
.album__paragraph--labels,
.album__labels {
  padding-left: 20%;
  text-align: right;
  width: 65%;

  img {
    display: inline-block;
  }
}

.album__block {
  &--loko {
    display: flex;
    width: 70%;
    margin-bottom: 100px;

    .album__paragraph {
      background: rgba($black, .6);
      display: inline-block;
      margin-left: -60px;
      margin-top: 80px;
      padding: 5px;
    }
  }
  &--jp {
    // position: relative;
    display: flex;
    width: 65%;

    img {
      // display: block;
      // height: auto;
      // position: absolute;
      // right: 0;
    }

    div:first-of-type {
      // background:green;
      width: 30%;
      // left: 0%;
      // top: 0;
      // position: absolute;
      z-index: 10
    }

    .album__paragraph {
      background: rgba($black, .6);
      display: inline-block;
      margin-right: -60px;
      margin-top: 80px;
      padding: 5px;
      // width: 80%;
      // position: relative;
      // top: 5px;
      z-index: 10;
      text-align: right;
    }
  }

  &--press {
    display: flex;
  }
}

.album__pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;

  img {
    display: block;
    float: left;
    flex: 0 0 auto;
    width: calc(100%/4);
    height: calc(100%/4);
    max-height: 143px
  }
}

