@import "Scss/variables.scss";

.album__font {
  color: $white;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: uppercase;
}

.album__font__regular {
  background: $white;
  color: $release-bkgd-album;
  display: inline-block;
  height: 21px;
  line-height: 22px;
  // transition: color .2s linear, background .1s linear;

  &--border {
    border-left: 4px solid $release-bkgd-album;
  }
}

.album__font_i {
  background: $release-bkgd-album;
  display: inline-block;
  width: 7px;
  height: 100%;
  margin-right: 2px;
  border-left: 2px solid $white;
  // transition: all .2s linear;
}

.album__font__collapse { margin-left: -3px }
.album__font__collapse--f { margin-left: -3px }
.album__font__collapse--bkgd { background: $release-bkgd-album }

.album__trackslist {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  height: 200px;
  list-style: none;
  transform: rotate( -45deg );
  width: 394px;
  position: absolute;
  left: 93vw;
  // left: 155vw;
  top: -5vh;
  // bottom: -5vh;
  transform-origin: top right;
  // transform-origin: bottom left;

  li {
    height: 21px;
    line-height: 21px;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    // transition: color .2s linear;

    &:hover {
      z-index: 10;
      color: $red;
      // opacity: .5
      .album__font_i {
        background: $red;
        border-left: 3px solid $release-bkgd-album;
      }
      .album__font__regular {
        background: $release-bkgd-album;
        color: $red;
      }
    }
  }

  span {
    position: relative
  }
}
